@import "./reset.scss";

$fontFamily: "Impact", "Arial Black", sans-serif;
$circleFirst: #f0f0f0;
$circleSecond: #ff8100;
$circleThird: #c7c2cb;
$circleFourth: #acbaaf;

@keyframes loading {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

body {
  width: 100%;
  height: 160vh;
  font-family: $fontFamily;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px 40px 40px;
  .main-titles {
    font-size: 30px;
    display: flex;
    gap: 10px;
    font-weight: 900;
    .main-title:nth-child(3) {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .main-title-page {
    font-size: 15px;
    font-weight: bold;
    opacity: 0.5;
  }
}

nav {
  display: flex;
  border-top: 1px solid black;
  margin-bottom: 250px;
  .categories {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    margin-right: 90px;
    font-size: 25px;
  }

  .colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 45px;

    .circles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      gap: 5px;

      .color-name {
        font-weight: bold;
        opacity: 0.5;
      }

      .circle-first {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: $circleFirst;
      }

      .circle-second {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $circleSecond;
      }

      .circle-third {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $circleThird;
      }

      .circle-fourth {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $circleFourth;
      }
    }
  }

  .fonts {
    display: flex;
    gap: 50px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .font:nth-child(3) {
      padding-top: 15px;
    }
    .font {
      display: flex;
      white-space: nowrap;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      gap: 20px;
      .font-name:first-child {
        opacity: 0.5;
      }
      .font-name:nth-child(2) {
        font-size: 20px;
      }
      .font-example {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .font-example-name:first-child {
          font-size: 20px;
        }
        .font-example-name:nth-child(2) {
          font-size: 12px;
          opacity: 0.5;
        }
      }
    }
  }
}

main {
  height: 650px;
  display: grid;
  grid-template-columns: 0.4fr repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.3fr) repeat(2, 1fr);
  border: 4px solid black;
  border-radius: 5px;
  margin: 0px 40px;
  .content:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: red;
    background-image: url("/images/image1.png");
    background-size: contain;
    background-position: center;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .content:nth-child(2) {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    .title {
      font-weight: bold;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 85px;
      text-transform: uppercase;
      border-bottom: 1px solid black;
    }
  }
  .content:nth-child(3) {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
    .content-third-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      gap: 10px;
      &:first-child {
        border-right: 1px solid black;
      }
      &:nth-child(2) {
        border-right: 1px solid black;
      }
      .category {
        font-size: 25px;
      }
      .explanation {
        opacity: 0.7;
      }
    }
  }
  .content:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
    background-color: black;
    color: white;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    overflow: hidden;

    .content-fourth-title {
      white-space: nowrap;
      display: inline-block;
      animation: loading 10s linear infinite;
    }
  }

  .content:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    .content-fifth-title {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;
      font-size: 30px;
    }
    .content-fifth-subtitle {
      opacity: 0.5;
      font-weight: normal;
      font-size: 18px;
      margin-top: 15px;
    }
  }

  .content:nth-child(6) {
    background-image: url("/images/image2.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .content:nth-child(7) {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    .content-seventh-title {
      font-weight: bold;
      font-size: 30px;
    }
    .content-seventh-subtitle {
      opacity: 0.5;
      margin-top: 15px;
    }
  }

  .content:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    grid-column: 5 / -1;
    grid-row: 3 / 4;
    background-color: #c7c2c9;
    .content-eighth-box {
      width: 250px;
      height: 220px;
      border: 2px solid black;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .box-title {
        font-size: 30px;
      }
      .read-more {
        text-decoration: underline;
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }

  .content:nth-child(9) {
    grid-column: 2 / 5;
    grid-row: 4 / -1;
    padding: 5px 20px;
    border-right: 1px solid black;

    .content-ninth-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ninth-title {
      text-transform: uppercase;
      font-size: 10rem;
      transform: scaleX(2.2);
    }

    .content-ninth-subtitle {
      overflow-y: scroll;
      height: calc(160vh - 1138px);
    }
  }

  .content:nth-child(10) {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    .content-tenth-title {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      font-size: 30px;
      gap: 10px;
    }
    .content-tenth-subtitle {
      height: c;
      overflow-y: scroll;
      height: calc(160vh - 1100px);
    }
  }
}
