@import "./reset.scss";

body {
  background-color: #ffffff;
  border: 2px solid black;
  height: 100vh;
}
.header {
  .header__nav {
    border-top: 2px solid black;
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
    }
  }
  .header__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
  }
  .header__tab--inverted {
    font-weight: bold;
    font-size: 30px;
  }
  .header__breadcrumbs {
    display: flex;
    padding: 10px 50px;
    gap: 5px;
    border-bottom: 1px solid black;
  }
  .header__crumb {
    font-size: 15px;
    &:not(:last-child)::after {
      content: " /";
    }
  }
  .header__crumb--inverted {
    font-weight: lighter;
  }
}

.product {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 1.15fr 1.5fr;
  .product__info {
    border-left: 1px solid black;
  }
  .product__header {
    padding: 80px 45px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    border-bottom: 1px solid black;
  }
  .product__category {
    font-weight: bold;
    font-size: 20px;
  }
  .product__title {
    font-weight: bold;
    font-size: 90px;
  }
  .product__add-to-cart {
    padding: 30px 0px;
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
  }
  .product__minus {
    color: gray;
  }
  .product__footer {
    display: grid;
    grid-template-columns: 1.5fr 1.8fr;
    font-weight: bold;
  }
  .product__description {
    border-right: 1px solid black;
    padding: 50px 45px;
  }
  .product__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product__question {
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid black;
  }
}
